[submodule ".emacs.d/site-lisp/org-mode"]
	path = .emacs.d/site-lisp/org-mode
	url = http://orgmode.org/cgit.cgi/org-mode.git
[submodule "quicklook/qlcolorcode-extra"]
	path = quicklook/qlcolorcode-extra
	url = https://github.com/BrianGilbert/QLColorCode-extra.git
[submodule "quicklook/qlmarkdown"]
	path = quicklook/qlmarkdown
	url = https://github.com/toland/qlmarkdown.git
[submodule "quicklook/qlstephen"]
	path = quicklook/qlstephen
	url = https://github.com/whomwah/qlstephen.git
[submodule "quicklook/qlimagesize"]
	path = quicklook/qlimagesize
	url = https://github.com/Nyx0uf/qlImageSize.git
