# Elisp byte code
*.elc

# Installed packages
/elpa/
/.cask/

# Recovery and backup directories
.session
history
/url/
/crottiSnippets/
/undohist/
/auto-save-list/
/backup/
/games/

# Temp ignore files
/bk.emacs.d/
