[user]
	name = conao
	email = conao3@gmail.com
[push]
	default = simple
[color]
	ui = auto
[core]
	editor = emacs
	quotepath = false
	precomposeunicode = true
	pager = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less -r
	commentchar = ";"
[alias]
	ch = checkout
