# backupfiles
history/
undohist/

# unnesesary files
.emacs.desktop*
.session
.recentf
recentf
elscreen
ac-comphist.dat

# download packages
elpa/
el-get/
auto-install/

# compiled files
*.elc

# annoying comstom file
custom.el
