# backupfiles
history/
undohist/

# unnesesary files
.emacs.desktop*
.session
.recentf
recentf
elscreen
places
ac-comphist.dat
srecode-map.el
bookmarks
network-security.data

# download packages
elpa/
_elpa-23/
el-get/
auto-install/

# cookie files
url/

# compiled files
*.elc

# annoying comstom file
custom.el
